body {
    background-color: rgb(196, 196, 196);
    font-family: "Courier New", Courier, monospace;
    max-width: 900px;
    margin: auto;
}

.img2 {
    border: 3px solid rgb(70, 70, 70);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#title,
.subtitle,
.post_title {
    color: rgb(0, 105, 105);
    text-align: center;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: underline;
    color: rgb(39, 20, 107);
}

.post_title {
    font-size: 20px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: rgb(136, 136, 136);
    padding: 15px;
    border: 1px solid rgb(37, 37, 37);
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: large;
    text-align: justify;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    border-radius: 5px 10px;
    -webkit-border-radius: 5px 10px;
    -moz-border-radius: 5px 10px;
    -ms-border-radius: 5px 10px;
    -o-border-radius: 5px 10px;
}

.img1 {
    margin-bottom: 15px;
    width: 100%;
}

.contact_list {
    list-style-type: none;
    padding-left: 15px;
}

.contact_list li a {
    color: brown;
}

div {
    text-align: center;
}